<div class="row">
    <div class="col l12">
        <!--WRAP-->
        <!--UserCard-->
        <div class="col l3">
            <!--Column-->
            <div class="card">
                <!--Card-->
                <div class="card-image">
                        <img ng-src="{{$ctrl.single_product_info.image}}"/>
                    <span class="card-title center-block"> </span>
                </div>
                <div class="card-content amber center-align white-text">
                    <div   ng-repeat="infotest in $ctrl.single_product_info.shop">
                        <div ui-sref="app.shops({ shop_id: '{{infotest.id}}' })" class="chip hoverable">
                                <img ng-src="{{infotest.image}}">
                                {{infotest.name}}
                        </div>
                </div>
                </div>
            </div>
            <!-- endCard-->
        </div>
        <!--endCol-l3-->
        <div class="col l9">
            <!--CompleteInfoUser-->
            <div class="card-panel">
                <!--CardPanel-->
                <div class="row">
                    <div id="test1" class="col s12">
                        <!--TabAbout-->
                        <h5><i class="material-icons left">person</i>Basic Information</h5>
                        <div class="black-text text-darken-2">
                            <p><b>Product Name: </b>
                                <span>{{$ctrl.single_product_info.name}}</span></p>
                            <p><b>Description: </b>
                                <span>{{$ctrl.single_product_info.description}}</span></p>
                        </div>
                        <br>
                    </div>
                    
                </div>  
            </div>
        </div>
    </div>
</div>