<!-- Normal List --> 
<div class="section" ng-show="$ctrl.info">
    <div class="row">
        <div class="col s12">     
             <div class="section">
                <div class="col s12">
                        <h3 class="header center col s12 light">Travel to a far far galaxy</h3>
                </div>
                <div infinite-scroll="load()" infinite-scroll-distance='3' infinite-scroll-immediate-check='false'>
                <div class="col s12 m6 l4"  ng-repeat="infotest in $ctrl.info">
                    <div class="card hoverable" id="{{infotest.slug}}">
                        <div class="card-image">
                            <a ui-sref="app.products({ slug: '{{infotest.slug}}' })">
                                <img ng-src="{{infotest.image}}">
                            </a>
                            <span class="card-title">{{infotest.name}}</span>
                            
                          </div>
                    </div>
                    <favorite-btn id="fav:{{infotest.slug}}" planet="infotest.slug" show-authed="true"></favorite-btn>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- list in profile -->
<div class="section" ng-show="$ctrl.favs">
        <div class="row">
            <div class="col s12">     
                 <div class="section">
                    <div infinite-scroll="load()" infinite-scroll-distance='3' infinite-scroll-immediate-check='false'>
                    <div class="col s12 m6 l4"  ng-repeat="infotest in $ctrl.favs.favorites">
                        <div class="card" id="{{infotest.slug}}">
                            <div class="card-image">
                                <a ui-sref="app.products({ slug: '{{infotest.slug}}' })">
                                    <img ng-src="{{infotest.image}}">
                                </a>
                                <span class="card-title">{{infotest.name}}</span>
                                
                              </div>
                        </div>
                        <favorite-btn planet="infotest.slug" show-authed="true"></favorite-btn>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Shop List --> 
<div class="section" ng-show="$ctrl.shops">
    <div class="row">
        <div class="col s12">     
             <div class="section">
                <div class="col s12">
                    <h3 class="header center col s12 light">All Shops of the galaxy</h3>
                </div>
                <div class="col s3"  ng-repeat="infotest in $ctrl.shops.all_shops">
                        <div ui-sref="app.shops({ shop_id: '{{infotest.id}}' })" class="chip hoverable">
                                <img ng-src="{{infotest.image}}">
                                {{infotest.name}}
                        </div>
                </div>
            </div>
        </div>
    </div>
   
</div> 

<!-- New Products List -->
<div class="section" ng-show="$ctrl.products">
    <div class="row">
        <div class="col s12"> 
                <div class="col s12">
                        <h3 class="header center col s12 light">Most Recent Products</h3>
                </div>    
                <div class="section">
                    <div class="col s4"  ng-repeat="infotest in $ctrl.products | limitTo:'3'">
                        <div class="card hoverable">
                            <div class="card-image">
                                <a ui-sref="app.single_product({ product_id: '{{infotest.product_id}}' })">
                                    <img ng-src="{{infotest.image}}">
                                </a>
                                <span class="title">{{infotest.name}}</span>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="col s12">
                        <a ui-sref="app.all_products" class="waves-effect waves-light btn red">More Products</a>
                </div> 
               
            </div>
        </div>
    </div>
</div>
<!-- All Products List -->
<div class="section" ng-show="$ctrl.all_products">
    <div class="row">
        <div class="col s12"> 
                <div class="col s12">
                        <h3 class="header center col s12 light">All Products in the Galaxy</h3>
                </div>    
                <div class="section">
                        <div class="collection">
                                <a href="#!" class="collection-item" ng-repeat="infotest in $ctrl.all_products">
                                    <div class="row" ui-sref="app.single_product({ product_id: '{{infotest.product_id}}' })">
                                        <img class="col s2" ng-src="{{infotest.image}}">
                                        <p>{{infotest.name}}</p>
                                        <div class="card-panel teal col s12">
                                            <span class="white-text">{{infotest.description}}</span>
                                        </div>
                                    </div>
                                </a>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- All wiki eras -->
<div class="section" ng-show="$ctrl.wiki_eras">
    <div class="section">
        <div class="col s12">
            <h3 class="header center col s12 light">Know all the history</h3>
        </div>
        <div class="col s12"  ng-repeat="infotest in $ctrl.wiki_eras">
                <div ui-sref="app.wiki({ id: '{{infotest._id}}' })" class="chip hoverable left">
                        <img ng-src="{{infotest.image}}">
                        {{infotest.name}}
                </div>
        </div>
    </div> 
</div>

