<div class="container">
    <div class="row">
        <div class="col m6">
            <h2 class="center-align">Login</h2> 
            <div class="row">
                <a class="btn btn-small waves-effect waves-light" 
                href="http://localhost:3002/api/auth/google/callback" name="action" >Login with Google</a>
            </div>
            <div class="row">
                <form name="login" class="col s12">
                        <div class="divider"></div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input name="email" type="email" class="validate" 
                            ng-model="$ctrl.login_credentials.email" 
                            ng-pattern="$ctrl.regex.email"  required>
                            <label for="email">Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input name="pass" type="password" class="validate" 
                            ng-model="$ctrl.login_credentials.password" required>
                            <label for="pass">Password</label>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="row">
                        <div class="col m12">
                            <p class="right-align">
                                <button class="btn btn-large waves-effect waves-light" 
                                type="button" ng-click="$ctrl.login()" name="action"
                                ng-show="login.email.$valid && login.pass.$valid">Login</button>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div> 
        <div class="col m6">
            <h2 class="center-align">Register</h2>
            <div class="row">
                <form name="register" class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <input ng-model="$ctrl.register_credentials.email"
                             name="r_email" id="reg_email" type="email" class="validate"
                             ng-pattern="$ctrl.regex.email" required>
                            <label>Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input ng-model="$ctrl.register_credentials.username" 
                            name="r-user" id="user" type="text" class="validate" ng-minlength="3" ng-maxlength="20"
                            required>
                            <label for="user">Username</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="r-pass" ng-model="$ctrl.register_credentials.password" 
                            name="r-password" type="password" class="validate" ng-minlength="6" required>
                            <label for="pass">Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="r-re-pass" ng-model="$ctrl.register_credentials.r_password" 
                            name="r_password" type="password" class="validate" 
                            ng-pattern="$ctrl.register_credentials.password" required>
                            <label for="r-pass">Repeat Password</label>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="row">
                        <div class="col m12">
                            <p class="right-align">
                                <button id="test_register_button" class="btn btn-large waves-effect waves-light"
                                 type="button" name="action" ng-click="$ctrl.register()"
                                 ng-show="register.r_email.$valid && register.r_password.$valid">Register</button>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
